<nav role="navigation" aria-label="main navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/page/Main_Page"><h2>Wiki</h2></a>
    <div class="navbar-brand">
        <div class="row">
            <div class="col-8">
                <input id="search" onsubmit="on_click_search()" type="search" class="form-control" placeholder="Search"/>
            </div>
            <div class="col">
                <button onclick="on_click_search()" class="form-control btn btn-light">Search</button>
            </div>
        </div>
    </div>
</nav>
